.top{
    
    width: 100vw;
    height: 100vh;
    background-image: url(Grunge\ Brush\ Texture\ Background\ Red\ And\ Black\ Splatter\,\ Grunge\,\ Brush\,\ Texture\ Background\ Image\ And\ Wallpaper\ for\ Free\ Download.jpeg);
    background-size: contain;
}
.box{
    height: 40vh;
    width: 40vw;
    background-color: rgba(112, 177, 177, 0.625);
}