.top{
    
    width: 100vw;
    height: 100vh;
    background-image: url(Grunge\ Brush\ Texture\ Background\ Red\ And\ Black\ Splatter\,\ Grunge\,\ Brush\,\ Texture\ Background\ Image\ And\ Wallpaper\ for\ Free\ Download.jpeg);
    background-size: contain;
}
